CLOUDINARY_CLOUD_NAME=여기에_클라우드네임_입력
CLOUDINARY_UPLOAD_PRESET=여기에_업로드프리셋_입력
NVIDIA_API_KEY=여기에_nvapi-로_시작하는_키_입력
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=../scripts/service-account.json
GOOGLE_SHEET_ID=1K_howGdnGcBgiHlCXTpvU0LnYAsGvsUe0Iwkjc3t-JA
GOOGLE_SHEET_NAME=시트1
